.filezone {
  border: 3px dashed #CCC;
  width: 40%;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filezone.over::before {
  content: 'Suelta tus archivos aqui';
  display: block;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}